@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dddde1;
}


.header-title{
    font-family: 'Noto Sans JP', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

/* 38E54D  3F475F*/